<body>
 <h1 class="top_text">ようこそ Bookers へ！</h1>
 <p class="top_text2">Bookers では、さまざまな書籍に関するあなたの意見や</p>
 <p class="top_text2">印象を共有し交換することができます</p>

 <span class="top_link"><%= link_to "start", books_path %></span>
</body>